.shop {
    display: flex;
}

.shop-title {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.shop-title>h1 {
    font-size: 3em;
}

/* categories */
.categories-wrapper {
    background-color: rgba(150, 150, 150, 0.3);
}

.categories-wrapper>h1 {
    font-size: 1.5rem;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-wrap: wrap;
}

.category-title {
    cursor: pointer;
    transition: 300ms ease-in;
}

.category-title:hover {
    scale: 1.1rem;
    cursor: pointer;
    border-radius: .5rem;
    padding: .5rem;
}

.category>img {
    width: 3rem;
}

/* end categories */

/* products */

.products-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.products-wrapper>h1 {
    font-size: 3rem;
    text-align: center;
}

.products {
    padding: 3rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.products-title {
    font-size: 3.5rem;
    margin: 3rem 0 0 0;
    font-size: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.products-title>h3 {
    width: 100%;
    background-color: orange;
}


.product>img {
    width: 300px
}

.product>.buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.price {
    color: var(--lightergreen);
    font-size: 1.3rem;
}

.noItem>* {
    text-align: center;
    top: 20%;
    font-size: 2rem;
    width: 100%;
}

.categoryItem {
    font-size: 1rem;
    color: var(--darksecondary);
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.options>* {
    border: none;
    outline: none;
}

.options>button:focus {
    border: none;
    outline: none;
}

.product {
    border-radius: 2rem;
    /* background-color: whitesmoke; */
    padding: 1rem;
    transition: all 250ms ease-in;
}


.productName {
    font-size: 1.6rem;
}

.product:hover {
    /* background-color: rgba(122, 118, 118, 0.3);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2); */
    border-radius: 3rem;
}

/* .product>img {
    width: 100%;
    display: flex;
    justify-content: center;
} */
.product>.kani {
    display: flex;
    justify-content: center;
}

.product>.kani>img {
    transition: all 110ms ease-in;
    width: 200px;
}

.product>.kani>img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.category>img {
    transition: all 110ms ease-in;
}

.category>img:hover {
    cursor: pointer;
    border-radius: 50%;
    transform: scale(1.4);
}

.product>* {
    padding: .5rem;
}

@media(max-width: 1200px) {
    .shop {
        flex-direction: column;
        margin-bottom: 3rem;
    }

    .categories {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}